<template>

    <form v-on:submit.prevent="submit">
        <div class="px-20 pb-20 drop-shadow-lg sm:w-full sm:mx-auto sm:overflow-hidden">
            <div class=" bg-white rounded-lg  px-4 py-8 sm:px-10">
                <div class="relative mt-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300">
                        </div>
                    </div>
                    <div class="relative flex justify-center text-sm leading-5">
                        <span class="px-2 text-gray-500 bg-white">
                            Input Yout Personal Profile
                        </span>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="text" id="nama"
                                    class=" rounded-lg border-gray-200  drop-shadow-md flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Nama Lengkap" v-model="student.nama" required/>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="text" id="NIM"
                                    class=" rounded-lg border-gray-200  drop-shadow-md flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Nomor Induk Mahasiswa" v-model="student.NIM" required/>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="text" id="kelas"
                                    class=" rounded-lg border-gray-200  drop-shadow-md flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Kelas" v-model="student.kelas" required/>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="text" id="Prodi"
                                    class=" rounded-lg border-gray-200  drop-shadow-md flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Program Studi" v-model="student.prodi" required/>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="text" id="jurusan"
                                    class=" rounded-lg border-gray-200  drop-shadow-md flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Jurusan Kuliah" v-model="student.jurusan" required/>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class=" relative ">
                                <input type="file" id="large_size"
                                    class=" rounded-lg border-gray-200  drop-shadow-md text-gray-400 flex-1 appearance-n one border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                    placeholder="Jurusan Kuliah" @change="uploadFile" ref="file" required/>
                                    <p class="mt-1 text-left text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or JPEG.</p>
                            </div>
                        </div>
                        <div>
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                    class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                    Submit
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- <form v-on:submit.prevent="submit">

        <label for="Nama">Nama</label>
        <input v-model="student.nama" class="form-control" type="text" id="Nama" name="Nama" required>

        <label for="NIM">NIM</label>
        <input v-model="student.NIM" class="form-control" type="text" id="NIM" name="NIM" required>

        <label for="kelas">kelas</label>
        <input v-model="student.kelas" class="form-control" type="text" id="kelas" name="kelas" required>

        <label for="Prodi">Prodi</label>
        <input v-model="student.prodi" class="form-control" type="text" id="Prodi" name="Prodi" required>

        <label for="Jurusan">Jurusan</label>
        <input v-model="student.jurusan" class="form-control" type="text" id="Jurusan" name="Jurusan" required>

        <label for="Photo">Photo</label>
        <input type="file" @change="uploadFile" ref="file" name="image">

        <button type="submit">Submit</button>
    </form> -->
</template>

<style src="@/assets/style.css">
form {
    margin: 30px 100px;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
</style>

<script>


export default {
    name: 'formComponent',
    props: {

    },
    data() {
        return {
            student: {
                nama: "",
                NIM: "",
                kelas: "",
                prodi: "",
                jurusan: "",
                image: null
            }
        }
    },
    methods: {
        uploadFile() {
            this.image = this.$refs.file.files[0];
        },
        submit() {
            this.student.image = this.image
            this.$emit('add-student', this.student)
            this.student = {
                nama: "",
                NIM: "",
                kelas: "",
                prodi: "",
                jurusan: "",
            }
        }
    }
}

</script>