<template>
    <div class="px-5 mx-auto px-4 sm:px-8 max-w-3x3 ">
        <div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class=" inline-block min-w-full drop-shadow-lg rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr class="items-center justify-center text-center">
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    Nama
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    NIM
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    Kelas
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    Prodi
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    Jurusan
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody items-center justify-center text-center>
                            <tr v-for="student in students" :key="student.NIM">
                                <template v-if="studentNIM === student.NIM">
                                    <td class="px-10 py-10 border-b border-gray-200 bg-white text-sm">
                                        <a class="block relative">
                                            <img alt="profil"
                                                v-bind:src="`http://localhost:3000/public/image/${student.image}`"
                                                class="mx-auto object-cover rounded-full h-20 w-20 " />
                                        </a>

                                    </td>

                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class=" relative ">
                                            <label for="nama" class="text-gray-700">
                                                Nama
                                            </label>
                                            <input type="text" id="name-with-label" v-model="student.nama"
                                                class="form-control rounded-lg border-transparent flex-1 appearance-none border-gray-200  drop-shadow-md w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                                placeholder="Your name" />
                                        </div>
                                    </td>

                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class=" relative ">
                                            <label for="nama" class="text-gray-700">
                                                NIM
                                            </label>
                                            <input type="text" id="disabled-email" disabled="" v-model="student.NIM"
                                                class="form-control  rounded-lg border-transparent flex-1 appearance-none border-gray-200  drop-shadow-md border-gray-300 w-full py-2 px-4 bg-gray-200 hover:bg-gray-300 cursor-not-allowed  text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                                placeholder="Your name" disable="" />
                                        </div>
                                    </td>

                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class=" relative ">
                                            <label for="kelas" class="text-gray-700">
                                                Kelas
                                            </label>
                                            <input type="text" id="name-with-label" v-model="student.kelas"
                                                class="form-control rounded-lg border-transparent flex-1 appearance-none border-gray-200  drop-shadow-md border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                                placeholder="Your name" />
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class=" relative ">
                                            <label for="prodi" class="text-gray-700">
                                                Prodi
                                            </label>
                                            <input type="text" id="name-with-label" v-model="student.prodi"
                                                class="form-control rounded-lg border-transparent flex-1 appearance-none border-gray-200  drop-shadow-md border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                                placeholder="Your name" />
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class=" relative ">
                                            <label for="Jurusan" class="text-gray-700">
                                                Jurusan
                                            </label>
                                            <input type="text" id="name-with-label" v-model="student.jurusan"
                                                class="form-control rounded-lg border-transparent flex-1 appearance-none border-gray-200  drop-shadow-md border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                                                placeholder="Your name" />
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span class="inline-block flex">
                                            <button type="button" @click="saveEdit(student)"
                                                class="py-1 px-1 mr-1 f bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                Save
                                            </button>

                                            <button type="button" @click="cancelEdit(student)"
                                                class="py-1 px-1  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  opacity-70  rounded-lg ">
                                                Cancel
                                            </button>

                                        </span>
                                    </td>

                                </template>
                                <template v-else>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                        <a class="block relative">
                                            <img alt="profil"
                                                v-bind:src="`http://localhost:3000/public/image/${student.image}`"
                                                class="mx-auto object-cover drop-shadow-md rounded-lg h-16 w-16" />
                                        </a>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{student.nama}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{student.NIM}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{student.kelas}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{student.prodi}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{student.jurusan}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span class="inline-block flex">
                                            <button type="button" @click=editStudent(student)
                                                class="py-1 px-1 mr-1 f bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                Edit
                                            </button>

                                            <button type="button" @click=deleteStudent(student.NIM)
                                                class="py-1 px-1  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  opacity-70  rounded-lg ">
                                                Delete
                                            </button>

                                        </span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- <table>
        <tr>
            <th>image</th>
            <th>NIM</th>
            <th>nama</th>
            <th>Kelas</th>
            <th>Prodi</th>
            <th>Jurusan</th>
            <th>Action</th>
        </tr>
        <tr v-for="student in students" :key="student.NIM">
            <template v-if="studentNIM === student.NIM">

                <td>
                    <img class="image-table" v-bind:src="`http://localhost:3000/public/image/${student.image}`" alt="">
                </td>
                <td>{{student.NIM}}</td>

                <td>
                    <label for="nama">Nama</label>
                    <div>
                        <input type="text" v-model="student.nama" class="form-control" />
                    </div>
                </td>
                <td>
                    <label for="kelas">Kelas</label>
                    <div>
                        <input type="text" v-model="student.kelas" class="form-control" />
                    </div>
                </td>
                <td>
                    <label for="prodi">prodi</label>
                    <div>
                        <input type="text" v-model="student.prodi" class="form-control" />
                    </div>
                </td>
                <td>
                    <label for="jurusan">Jurusan</label>
                    <div>
                        <input type="text" v-model="student.jurusan" class="form-control" />
                    </div>
                </td>
                <td>
                    <button class="btn btn-success m-2" @click="saveEdit(student)">Save</button>
                    <button class="btn btn-danger" @click="cancelEdit(student)">Cancel</button>
                </td>
            </template>
            <template v-else>
                <td>
                    <img class="image-table" v-bind:src="`http://localhost:3000/public/image/${student.image}`" alt="">
                </td>
                <td>{{student.NIM}}</td>
                <td>{{student.nama}}</td>
                <td>{{student.kelas}}</td>
                <td>{{student.prodi}}</td>
                <td>{{student.jurusan}}</td>
                <span>
                    <button @click=deleteStudent(student.NIM)>Delete</button>
                    <button @click=editStudent(student)>Edit</button>
                </span>
            </template>
        </tr>
    </table> -->
</template>

<style src="@/assets/style.css">
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.image-table {
    width: 25px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}
</style>

<script>
export default {
    name: 'tableComponent',
    props: {
        students: Array,
    },
    data() {
        return {
            studentNIM: null,
            image: null
        }
    },
    methods: {
        deleteStudent(NIM) {
            this.$emit('delete-student', NIM)
        },
        editStudent(student) {
            this.data = Object.assign({}, student)
            this.studentNIM = student.NIM;
        },
        saveEdit(student) {
            let NIM = this.data.NIM;
            this.$emit('edit-student', NIM, student)
            this.studentNIM = null
        },
        cancelEdit(student) {
            Object.assign(student, this.data)
            this.studentNIM = null
        }
    }
}
</script>