<template>
  <NavbarComponent />
  <br>
  <TableComponent v-bind:students='students' @edit-student="editStudent" @delete-student="deleteStudent" />
  <FormComponent @add-student="addstudent" />
  <br>
  <FooterComponent />
</template>

<script>
import TableComponent from './components/tableComponent.vue';
// import dataStudent from "./data/mahasiswa.json"
import FormComponent from './components/formComponent.vue'
import axios from 'axios'
import NavbarComponent from './components/navbarComponent.vue'
import FooterComponent from './components/footerComponent.vue';
import swal from 'sweetalert';

// const apiMoan = "http://192.168.214.89:8080/mahasiswa";
const apiPribadi = "http://localhost:3000/mahasiswa"

export default {
  name: 'App',
  components: {
    TableComponent,
    FormComponent,
    NavbarComponent,
    FooterComponent
  },
  data() {
    return {
      students: ""
    }
  },
  mounted() {
    try {
      axios.get(apiPribadi)
        .then((response) => {
          this.students = response.data
        })
    }
    catch (error) {
      console.log(error.message);
    }
  },
  methods: {
    addstudent(student) {
      try {
        const headers = { "Content-Type": "multipart/form-data" };
        axios.post(apiPribadi, student, { headers })
          .then(response => {
            swal("Add Succesful", "Refresh the page", "success");
            this.students = [...this.student, response.data.data]
          })
          .catch(error => {
            if (error.response) {
              swal("Cannot Add the data", error.response.data.message, "warning");
              // alert(error.response.data.message)
            }
          })
      }
      catch(error){
        console.log("Data Error");
      }

      // this.students.push(student);
    },
    deleteStudent(NIM) {
      swal({
        title: "Are you sure Delete this data?",
        text: "Sekali hilang tidak dapat terulang!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            try {
              axios.delete(`${apiPribadi}/${NIM}`)
                .then(() => {
                  swal("Delete Succes", "Check Your Data", "success");
                  this.students = this.students.filter(function (student) {
                    return student.NIM !== NIM
                  })
                })
            }
            catch (error) {
              console.log("Data Error");
            }
          }
        })
    },
    editStudent(NIM, data) {
      const headers = { "Content-Type": "multipart/form-data" };
      axios.put(`${apiPribadi}/${NIM}`, data, { headers })
        .then(() => {
          swal("Edit Data Succes", "Check Your data", "success");
          this.students = this.students.map(student => (student.NIM === NIM ? data : student))
        })
    },
  }
}
</script>

<style>
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(245, 245, 245);
}
</style>
